extends layout
include mixins/date-time

block content
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии

      ul.publication__list
        each comment in comments
          li.publication__list-item
            .publication__header
              img.publication__list-image(
                src= `/img/${comment.users.avatar}`
                width='20'
                height='20'
                alt= comment.users.name
              )
              b.publication__list-name
                | #{comment.users.name} #{comment.users.surname}

              +dateTime(comment.updatedAt)(class='publication__item-time')

            a.publication__item-text(
              href=`/articles/${comment.articleId}`
            )= comment.text

            p.publication__text-strong= comment.Article.title

            a.publication__button.button.button--close-item(
              href= `/articles/${comment.articleId}/comments/delete/${comment.id}`
            )
              span.visually-hidden Закрыть строку списка
