extends layout
include mixins/date-time
include mixins/error-message

block content
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href='#') Назад

            +dateTime(article.updatedAt)(class="post__date")

            h2.post__title.title.title--main= article.title

            ul.post__themes.themes
              each category in article.categories
                li.themes__item
                  a.themes__item-link(href='#')
                    | #{category.name}
                    sup 88
                  button.themes__remove-btn(type='button') Удалить категорию

            if article.picture
              .post__picture
                img(src=`${article.picture}` alt='')

          .post__text
            if article.fullText
              p= article.fullText
            else
              p= article.announce

      .post__wrapper.post__wrapper--comments
        section.post__comments.comments
          h2.comments__title.title.title--middle Комментарии

          ul.comments__list
            each comment in article.comments
              li.comments__comment
                .comments__avatar.avatar
                  img(src='/img/avatar-1.png' alt='аватар пользователя')
                .comments__text
                  .comments__head
                    p Евгений Петров •
                    +dateTime(comment.updatedAt)(class=".comments__date")
                  p.comments__message= comment.text

          .comments__footer.comments__footer--user
            form(
              action=`/articles/${id}/comments`
              method='post'
              autocomplete="off"
            )
              .comments__avatar.avatar
                img(src='/img/avatar-2.png' alt='аватар пользователя')
              label
                textarea(
                  rows='1'
                  name='message'
                  placeholder='Присоединиться к обсуждению'
                )= `${meta ? meta.newComment.text : ''}`
              button.comments__button.button.button--colored(type='submit') Опубликовать

            if meta
              +errorMessages(meta.error)
